/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Animación de bienvenida */
#bienvenida {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: 3s;
}

.titulo-bienvenida {
    font-size: 4em;
    margin: 0;
    opacity: 0;
    animation: slideIn 2s ease-out forwards;
    color: #f44336;
}

.subtitulo-bienvenida {
    font-size: 1.5em;
    margin-top: 10px;
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
    animation-delay: 1.5s;
}

/* Animaciones clave */
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Ocultar el contenido mientras se muestra la bienvenida */
#contenido {
    opacity: 0;
    animation: showContent 1s ease-in forwards;
    animation-delay: 3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;  /* Asegura que ocupa toda la pantalla en dispositivos pequeños */
    max-width: 800px; /* Añade un ancho máximo si deseas limitarlo */
}

@keyframes showContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Estilo de las frases */
.container {
    height: 400px;
    width: 800px;
    text-align: center;
    background-color: #515151;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: #c62828;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #b71c1c;
}

.frase {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: #f44336;
    font-weight: bold;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}
.explicacion {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #eaeaea;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0, 0.9);
}